footer {
    background: var(--color-bg-variant);
    color: var(--color-white);
    padding: 1.2rem 0 3rem;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 7rem;
}

footer a {
    padding: 8px 18px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2rem;
    margin: 2px 5px;
}

footer a:hover {
    border: 1px solid;
}

.footer__logo {
    font-size: 2rem;
    font-weight: 500;
    display: inline-block;
}

.permalinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto 1rem;
}

.permalinks a {
    font-size: 1rem;
}

.footer__socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 0.6rem;
    margin-left: -1.5rem;
}

.footer__socials a {
    background: var(--color-bg);
    color: var(--color-white);
    font-size: 1rem;
    padding: 0.6rem;
    border-radius: 0.7rem;
    display: flex;
    border: 1px solid transparent;
}

.footer__socials a:hover {
    background: var(--color-white);
    color: var(--color-bg);
}

.footer__copyright {
    margin-bottom: 4.5rem;
    color: var(--color-white);
    margin-left: -1.5rem;
}


/* ===================== MEDIA QUARIES (SMALL DEVICE) ======================= */
@media screen and (max-width: 600px) {
    .permalinks {
        flex-direction: column;
        gap: 1.5rem;
    }

    .footer__socials,
    .footer__copyright {
        margin-left: 0;
    }
}